.ipynb_checkpoints
.vscode

# resources.ipynb

src/not_for_github/
# src/utils/**
src/main.py

plots/all_NW_and_GaAs_seperated.html
plots/Mo_30kV_with_gaussian_fit_and_peak_shifted_bg_down.html
plots/Mo_30kV_with_gaussian_fit.html

plots/**

**__pycache__
